// color
$titleColor: #fff;
$contentColor: #F2F6FC;
$hintColor: #909399;
$borderColor: #DCDFE6;
$headerColor: rgba(255,255,255,0.9);
$headerMainColor: #303133;
$headerHoverColor:  rgb(63, 105, 197);

// height
$headerHeight: 55px;
